# Wichtig für Next.js + Turbopack
node-linker=hoisted

# Weniger Peer Dependency Fehler
strict-peer-dependencies=false

# Erlaubt Befehle im Projektordner
ignore-workspace-root-check=true

# Erlaubte Build Scripts für Docker / Prisma
onlyBuiltDependencies[]=@prisma/engines
onlyBuiltDependencies[]=prisma
onlyBuiltDependencies[]=argon2
onlyBuiltDependencies[]=sharp